<!DOCTYPE html>
<div class="main md-whiteframe-6dp">
    <div class="head">
        <button class="btnClass" name="btn_back" back-click>Back</button>
    </div>
    <div class="body">
        <div style="margin-left:20px; margin-top:20px;">
        <div>
            <md-input-container>
            <label>UserId</label>
            <input id="userid">
            </md-input-container>    
        </div>
        <div>
            <md-input-container>
            <label>Title</label>
            <input id="post_title">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
            <label>Body</label>
            <input id="post_body">
            </md-input-container>
        </div>
        </div>
    </div>
    <div class="head">
         <div><button class="btnClass" name="btn_add" ng-click="addPost()">Add post</button></div>
    </div>
   
</div>