<!DOCTYPE html>
<div class="main md-whiteframe-6dp">
    <div class="head">
        <button class="btnClass" name="btn_back" back-click>Back</button>
    </div>
    <div class="body">
        <div>ID:</div>
        <div class="details">{{details.id}}</div>
        <div>UserId:</div>
        <div class="details">{{details.userId}}</div>
        <div>Title:</div>
        <div class="details">{{details.title}}</div>
        <div>Body:</div>
        <div class="details">{{details.body}}</div>
    </div> 
</div>